main {
  min-height: 0;
}

.main {
  width: 1200px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .search_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.main .search_box > div {
  margin-right: 10px;
}
.main .search_box > div:last-child {
  margin-right: 0px;
}
.main .search_box input {
  width: 300px;
  height: 36px;
  outline: none;
  border: solid 1px #777;
  border-radius: 5px;
  padding-left: 10px;
}
.main .search_box button {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: #ff9800;
  color: white;
  cursor: pointer;
}
.main .search_tiaojian {
  width: 100%;
  font-size: 13px;
}
.main .search_tiaojian::before {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #808595;
  content: "";
  margin: 20px 0;
}
.main .search_tiaojian::after {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #808595;
  content: "";
  margin: 20px 0;
}
.main .search_tiaojian > ul {
  display: flex;
  list-style: none;
  margin: 10px;
  flex-wrap: wrap;
}
.main .search_tiaojian > ul > li {
  padding: 3px 8px;
  margin-right: 10px;
}
.main .search_tiaojian > ul > li:hover a {
  color: #00a1d6;
}
.main .search_tiaojian > ul > li a {
  color: #333333;
}
.main .search_tiaojian > ul > li.active {
  background-color: #00a1d6;
  border-radius: 5px;
}
.main .search_tiaojian > ul > li.active a {
  color: white;
}
.main .search_content {
  list-style: none;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main .search_content > li {
  width: 220px;
  height: 180px;
  border: 1px solid #e5e9ef;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
  transition: all 0.3s;
}
.main .search_content > li:hover {
  transform: translateY(-10px);
}
.main .search_content > li:hover .img img {
  transform: scale(1.1);
}
.main .search_content > li .img {
  width: 100%;
  height: 100px;
  overflow: hidden;
  display: block;
}
.main .search_content > li .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}
.main .no_content {
  width: 100%;
  height: 375px;
  background: url("/static/my/img/search/no_content.png") no-repeat center center;
}
.main .info {
  padding: 8px;
}
.main .info .title {
  margin-bottom: 5px;
  height: 2.7rem;
}
.main .info a {
  color: #333333;
  font-size: 14px;
}
.main .info .icon {
  font-size: 13px;
  display: flex;
  justify-content: space-between;
}

.pager {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: center;
}
.pager > li {
  display: inline-flex;
  min-width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid #e5e9ef;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  margin-right: 10px;
}
.pager > li:last-child {
  margin-right: 0;
}
.pager > li a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  color: #333333;
}
.pager > li a:hover {
  color: white;
}
.pager > li:hover {
  background-color: #3a8ee6;
}
.pager > li.active {
  background-color: #3a8ee6;
}
.pager > li.active a {
  color: white;
}

/*# sourceMappingURL=search.css.map */
