<!DOCTYPE html>
<html lang="en">
{% load my_tag %}
<head>
    <meta charset="UTF-8">
    <title>叫哥的个人博客</title>
    <link rel="stylesheet" href="static/my/css/reset.css">
    <link rel="stylesheet" href="static/my/css/index.css">
    <script src="static/vue/vue.js"></script>

</head>
<body>
<div id="app">
    <link rel="stylesheet" :href="'static/my/css/theme/'+theme+'.css'">
    <nav>
        <div class="left">
            <a href="#">首页</a>
            <a href="#">新闻</a>
            <a href="#">心情</a>
            <a href="#">关于</a>
        </div>
        <div class="right">
            <a href="#" @click="setTheme('dark')" v-if="pan_theme">黑色主题</a>
            <a href="#" @click="setTheme('light')" v-else>白色主题</a>
            <a href="#">登录</a>
            <a href="#">注册</a>
        </div>
    </nav>
    {% banner 'index' %}
    <main>
        <h2>内容区域</h2>
        <h2 v-text="theme"></h2>
    </main>
    <footer>
        <div class="left">
            <p class="thk">Thank For</p>
            <p class="site_info">

                <span><img src="static/my/img/footer/tencent.png" alt="">腾讯云服务器</span>
                <span><img src="static/my/img/footer/tencent.png" alt="">腾讯云SSL证书</span>
                <span><img src="static/my/img/footer/qiniu.png" alt="">七牛云存储</span>

            </p>
            <p class="version">
                <span>version</span>
                <span>0.0.0.1</span>
            </p>
            <p>建站日期:2022年6月20日</p>
            <p class="beian">
                <a href=""><img src="static/my/img/footer/badges.png" alt="">备案号链接</a>
            </p>
        </div>
        <div class="right">
            <div class="contact">
                <div>
                    <img class="svg" src="static/my/img/footer/qq_no.svg" alt="">
                    <img class="qq" src="static/my/img/footer/qq_icon.svg" alt="">
                </div>
                <div>
                    <img class="svg" src="static/my/img/footer/wechat_no.svg" alt="">
                    <img class="wechat" src="static/my/img/footer/wechat_color.svg" alt="">
                </div>
                <div>
                    <a href="" target="_blank">
                        <img class="svg" src="static/my/img/footer/bilibili.svg" alt="">
                    </a>
                </div>
                <div>
                    <a href="" target="_blank">
                        <img class="svg" src="static/my/img/footer/github.svg" alt="">
                    </a>
                </div>
            </div>
            <p>联系方式：31498729@qq.com</p>
        </div>
    </footer>
</div>

<script>
    const vue = new Vue({
        el: "#app",
        delimiters: ["[[", "]]"],
        data: {
            theme: "light", //默认主题
            pan_theme: true,
        },
        created() {
            this.init_theme()
            console.log(this.theme)
        },
        methods: {
            //初始化主题
            init_theme() {
                let theme = localStorage.getItem('theme')
                if (theme) {
                    this.theme = theme
                }
            },
            //设置主题
            setTheme(th_name) {
                this.theme = th_name
                this.pan_theme = !this.pan_theme
                //写入持久化存储
                localStorage.setItem('theme', th_name)
            }
        }
    })
    //轮播图东西
    let menu_img = document.querySelectorAll('.dynamic_shuff')
    //定时器函数interval
    let index = 0
    let menu_length = menu_img.length
    //每次创建页面销毁
    let timer_interval = null
    clearInterval(timer_interval)
    timer_interval = setInterval(() => {
        index++
        if (index === menu_length) {
            index = 0
        }
        for (let i of menu_img) {
            i.style.opacity = 0
        }
        menu_img[index].style.opacity = 1
    }, 2000)

</script>

</body>
</html>